ul.nav.nav-pills.pull-right
  li
    a(href='../') Home
  li
    a(href='/search') Search  
  li
    a(href='/contribute') Contribute
  li.active
    a(href='/about') About
  li
    a(href='/contact') Contact
div.spacer