extends layout

block content
  div
    p
      | <h4>Products</h4>
      | Currently available to search: <br />
      | &nbsp; &nbsp; &bull; Soups <br /><br />
      | More products to follow!
    br
    p 
      | <h4>Disclaimer</h4>
      | The ingredients contained herein were collected from either the information provided on the manufacturer's 
      | website or from the actual label on the product.  This information may not be 100% accurate as ingredient information can change.
    br
    p
      | <h4>Additional Information</h4>
      | This site was created by a concerned individual who simply cares about what we eat. <br />
      | Thanks for stopping by!<br /> <br />
      | <i> The source code for this open-source project can be found on 
      | <a href="https://github.com/aredo/Food-Ingredients">GitHub</a></i>.
